/* 전체를 의미 */
    /* 여백 없애기 */
    *{
        margin: 0px;
        padding: 0px;
    }
    /* 배경화면 css */
    .background{
        width: 100%;
        height: 100vh;
        /* image 가져오기 */
        background-image: linear-gradient(
            rgba(70, 193, 241, 0.404),
            rgba(108, 235, 92, 0.411)
            ), url(background.jpg);
        /* image 크기 맞춰주기 */
        background-position: center;
        /* 배경 투명도 조절 */
        opacity: 0.99;
        
    }
    .background p{
        color: rgb(12, 87, 24);
        font-size: 20px;
        font-weight: 1000;
        border: double green;
        /* solid : 두꺼운 선
           dotted : 점선
           double : 겹선
        */
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }