/* div 전체 스타일 변경 */
div {
    background-color: blue;
    color: purple;
}
/* class를 지정하여 특정 라인을 변경 */
.hello {
    position: relative;
    left: 100px;
    width: 80%;
    height: 100px;
    background-color: hsl(27, 91%, 49%);
}
.hello1 {
    position: relative;
    left: 200px;
    bottom: 100px;
    width: 60%;
    height: 80px;
    background-color: rgb(251, 255, 0);
    color: yellow;
}
.hello2 {
    position: relative;
    left: 300px;
    bottom: 80px;
    width: 40%;
    height: 60px;
    background-color: hsl(125, 100%, 50%);
}
.hello3 {
    position: relative;
    left: 400px;
    height: 40px;
    width: 20%;
}